<div class="max-w-lg mx-auto mt-16 text-center rounded overflow-hidden shadow-lg p-10 bg-white">
  <%= link_to 'Entrar e publicar um projeto', new_project_owner_session_path, class: "text-base leading-snug text-center" %> 
</div>

<div class="max-w-lg mx-auto mt-16 text-center rounded overflow-hidden shadow-lg p-10 bg-white">
  <%= link_to 'Entrar como freelancer', new_freelancer_session_path, class: "text-base leading-snug text-center" %> 
</div>
