<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between items-center space-x-7">
      <div>
        <h1 class="text-blue-800 font-bold text-4xl">Freela</h1>
      </div>
      <div class="hidden md:flex items-center space-x-1">
          <%= link_to 'Cadastre-se', root_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-800 transition duration-300" %>
          <%= link_to 'Entrar', root_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-800 transition duration-300" %>
      </div>
    </div>
  </div>
</nav>

